/*custom proprieties */

:root{
  --header-color:rgba(0,132,253,255);
  --text-grey: rgba(95,116,134,255);
  --card-color: rgba(181,221,255,255);
  --bg-coloured-section: rgba(151,146,228,255);
  --footer-bg-color:rgba(51,51,51,255);
  
}

/* reset */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*utilities*/
.d-flex{
  display: flex;
}

.center{
  justify-content: center;
  align-items: center;
}

.column{
  flex-direction: column;
}

.space-between{
  justify-content: space-between;
}

.debug{
  border: 1px solid black;
}

.conteiner{
  width: 90%;
  height: 100%;
}

.row{
  width: 100%;
  height: 100%;
}
.coloured-section{
  background-color: var(--bg-coloured-section);
}

.m-t{
  margin-top: 50px;
}

.m-b{
  margin-bottom: 20px;
}

.b{
  font-weight: bold;
}

.white{
  color: white;
}

.border-r{
  border-radius: 25px;
}

.a-i-center{
  align-items: center;
}

.text-a-c{
  text-align: center;
}

img{
  width: 100%;
  height: 100%;
}

a{
  text-decoration: none;
  color: black;
}

/* HEADER */

header{
  width: 100%;
  height: 70px;
  background-color: var(--header-color);
  position: fixed;
  top: 0;
}

main{
  margin-top: 50px;
}

section.header{
  max-height: 70px;
}

.logo{
  height: 100%;
}

.logo-img{
  height: 40%;
}

.burger{
  width: 30%;
  height: 100%;
  justify-content: end;
  font-size: 1.5rem;
}

.nav{
  display: none;
}

li{
  list-style: none;
}

ul{
  width: 100%;
  height: 100%;
  font-size: 1.3rem;
}

a.btn-header{
  background-color: white;
  padding: 5px;
}

/* MAIN */

 /*first, demo section */

.big-card{
  padding: 30px;
  padding-bottom: 0;
  height: 700px;
  background-color: var(--card-color);
}

.small-card{
  height: 350px;
  background-color: var(--card-color);
}

div.big-text,
div.big-img{
  height: 50%;
  margin: 0 auto;
}

h3{
  color: var(--header-color);
  padding-top: 20px;
  font-size: 1.5rem;
}

p.demo-p{
  color: var(--text-grey);
  padding: 20px 0;
  line-height: 20px;
}

.demo-btn{
  padding-top: 25px;
}

.blue-btn{
  background-color: var(--header-color);
  padding: 10px 60px;
}

.small-card-file{
  color: var(--header-color);
  margin: 0 auto;
}

.small-card-in{
  padding: 30px;
}

.small-card-text{
  color: var(--text-grey);
  padding-top: 30px;
  line-height: 25px;
}

.icon{
  font-size: 5rem;
}

 /*strategic planning*/
.strategic-box{
  height: 1400px;
}

.long-card{
  height: 630px;
  padding: 30px;
}

.img-strategic{
  height: 300px;
  width: 100%;
}

h3.strategic{
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 2rem;
}

.p-strategic{
  line-height: 25px;
}

.short-card{
  height: 450px;
}

.short-card-img{
  width: 85%;
  height: 610px;
  background-color: white;
  margin-top: 75px;
}

.short-card-in{
  padding: 30px;
}

.t-strategic{
  color: black;
}

.p-strategic-short{
  font-style: italic;
  line-height: 30px;
}
 /* testimonials */

.testimonials-text{
  height: 390px;
}

.testimonials-cards{
  height: 500px;
  background-color: var(--bg-coloured-section);
}

 /*with-us*/

.with-us-title{
  height: 200px;
}

.with-us-cards{
  height: 400px;
  background-color: white;
}

 /* about us */

.about-us-text{
  height: 700px;
}

.about-us-reference{
  height: 300px;
}

 /* get started section */

section.get-started{
  height: 620px;
}

/* FOOTER */

.footer{
  height: 250px;
  background-color: var(--footer-bg-color);
}

.footer-text{
  height: 80%;
  width: 100%;
}

/* MEDIA QUERY */

  /*tablet*/

@media screen and (min-width:768px) {
  /*general*/
  .conteiner{
    width: 745px;
  }

  .d-flex-l{
    display: flex;
  }

  .j-c-center-l{
    justify-content: center;
  }

  .f-wrap-w-l{
    flex-wrap: wrap;
  }

  /*demo section*/
  .row{
    justify-content: space-between;
  }
  .big-card{
    width: 65%;
    height: 560px;
  }
  .small-card.medium,
  .small-card{
    width: 230px;
    margin-top: 50px;
  }
  .small-card.medium{
    height: 560px;
  }
  .small-card{
    height: 435px;
  }
  div.big-img,
  div.demo-btn{
    margin: 0;
    width: 50%;
  }
  .blue-btn{
    padding: 10px 50px;
  }
  
  /*testimonials*/
  .testimonials-text,
  .testimonials-cards{
    height: 230px;
  }

  /*with us */

  .with-us-cards{
    width: 40%;
    margin-left: 10px;
    margin-right: 10px;
  }

  /*about us */
 
  .about-us-text{
    width: 60%;
  }
  .about-us-reference{
    width: 30%;
    height: 500px;
    margin-top: 50px;
  }
}

/* desktop vp */

@media screen and (min-width:1200px) {

  /*general*/
  .d-flex-xl{
    display: flex;
  }
  .conteiner{
    width: 1140px;
  }

  /*header*/
  .burger{
    display: none;
  }
  .nav{
    display: block;
    width: 45%;
    height: 100%
  }

  /*demo*/

  .big-card,
  .small-card,
  .small-card.medium{
    height: 350px;
  }
  .big-card{
    width: 750px;
    justify-content: space-between;
    padding-bottom: 30px;
  }
  .small-card, .small-card.medium{
    width: 360px;
  }
  div.big-text{
    height: 100%;
    width: 400px;
    margin: 0;
  }
  div.demo-btn{
    width: 200px;
    padding-top: 10px;
    text-align: left;
  }
  div.big-img{
    height: 100%;
    padding-right: 50px;
    padding-top: 30px;
    margin-top: 30px;
  }

  /*strategic-planner*/
  .strategic{
    flex-direction: row;
    justify-content: space-between;
  }
  .long-card{
    width: 60%;
  }
  .short-card{
    width: 40%;
    margin-top: 200px;
  }

  /*whit us */
  .with-us-cards{
    width: 30%;
  }

  /*about us */
  .about-us-reference{
    height: 700px;
  }

}
