:root{
  --card-color: rgba(181,221,255,255);
  --bg-coloured-section: rgba(151,146,228,255);
  --footer-bg-color:rgba(51,51,51,255);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*utilities*/
.d-flex{
  display: flex;
}

.center{
  justify-content: center;
  align-items: center;
}

.column{
  flex-direction: column;
}

.space-between{
  justify-content: space-between;
}

.debug{
  border: 1px solid black;
}

.conteiner{
  width: 90%;
  height: 100%;
}

.coloured-section{
  background-color: var(--bg-coloured-section);
}

.m-t{
  margin-top: 50px;
}

.m-b{
  margin-bottom: 50px;
}

/* HEADER */

header{
  height: 70px;
  background-color: rgba(0,132,253,255);
}

.logo{
  width: 40%;
  height: 100%;
}

.burger{
  width: 30%;
  height: 100%;
}

.nav{
  display: none;
}

.row{
  height: 100%;
  width: 100%;
}
/* MAIN */

 /*first, demo section */

.big-card{
  height: 500px;
  background-color: var(--card-color);
}

.small-card{
  height: 350px;
  background-color: var(--card-color);
}

 /*strategic planning*/

.long-card{
  height: 600px;
}

.short-card{
  height: 450px;
}

.short-card-img{
  width: 70%;
  height: 100%;
  background-color: white;
}

 /* testimonials */

.testimonials-text{
  height: 390px;
}

.testimonials-cards{
  height: 500px;
  background-color: var(--bg-coloured-section);
}

 /*with-us*/

.with-us-title{
  height: 200px;
}

.with-us-cards{
  height: 400px;
  background-color: white;
}

 /* about us */

.about-us-text{
  height: 700px;
}

.about-us-reference{
  height: 300px;
}

 /* get started section */

section.get-started{
  height: 620px;
}

/* FOOTER */

.footer{
  height: 250px;
  background-color: var(--footer-bg-color);
}

.footer-text{
  height: 80%;
  width: 100%;
}

/* MEDIA QUERY */

  /*tablet*/

@media screen and (min-width:768px) {

  /*demo setion*/
  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .big-card{
    width: 65%;
    height: 560px;
  }
  .small-card.medium,
  .small-card{
    width: 30%;
    margin-top: 50px;
  }
  .small-card.medium{
    height: 560px;
  }
  .small-card{
    height: 435px;
  }

  /*testimonials*/
  .testimonials-text,
  .testimonials-cards{
    height: 230px;
  }

  /*with us */
  .row-with-us{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .with-us-cards{
    width: 40%;
    margin-left: 10px;
    margin-right: 10px;
  }

  /*about us */
  .about-us{
    display: flex;
    justify-content: center;
  }
  .about-us-text{
    width: 60%;
  }
  .about-us-reference{
    width: 30%;
    height: 500px;
    margin-top: 50px;
  }
}

/* desktop vp */

@media screen and (min-width:1200px) {

  /*header*/
  .conteiner{
    width: 70%;
  }
  .logo{
    width: 20%;
  }
  .burger{
    display: none;
  }
  .nav{
    display: block;
    width: 40%;
    height: 100%
  }

  /*strategic-planner*/
  .strategic{
    flex-direction: row;
    justify-content: space-between;
  }
  .long-card{
    width: 60%;
  }
  .short-card{
    width: 40%;
    margin-top: 200px;
  }

  /*whit us */
  .with-us-cards{
    width: 30%;
  }

  /*about us */
  .about-us-reference{
    height: 700px;
  }
}
